# Add your local user settings to file `user.bazelrc`
try-import %workspace%/user.bazelrc

# Add project-wide settings below.
build --registry=https://raw.githubusercontent.com/filmil/bazel-central-registry/dev \
      --registry=https://bcr.bazel.build
mod --registry=https://raw.githubusercontent.com/filmil/bazel-central-registry/dev \
      --registry=https://bcr.bazel.build

