name: Build
on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "13 7 * * 0"
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build one target
        run: "bazel build --spawn_strategy=local //tests:neato_png"
      - name: Build everything
        run: "bazel build --spawn_strategy=local //... --subcommands"
      - name: Run integration test
        run: "cd integration && bazel build //... --subcommands"
