name: Build
on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "13 7 * * 0"
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Setup Bazel
        uses: abhinavsingh/setup-bazel@v3
        with:
          version: 8.4.1
      #- name: Setup bazel
        #uses: bazel-contrib/setup-bazel@0.15.0
        #with:
          #bazelisk-cache: true
          #disk-cache: ${{ github.workflow }}
          #repository-cache: true
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build error sentinel
        run: "bazel build //tests/include-files:html --subcommands"
      - name: Build one target
        run: "bazel build //tests:neato_png"
      - name: Build everything
        run: "bazel build //... --subcommands"
      - name: Run integration test
        run: "cd integration && bazel build //... --subcommands"
